{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row justify-content-md-center">
        <div class="col-4">
            <h1 class="h3 mb-3 font-weight-normal">S'enregistrer</h1>
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {# don't have agree terms yet #}
{#{{ form_row(registrationForm.agreeTerms) }}#}

        <button type="submit" class="btn btn-primary btn-block">S'enregistrer</button>
        {{ form_end(registrationForm) }}
        </div>
{% endblock %}
