<div class="card">
    {% if question.imageName %}
        <img src="{{ vich_uploader_asset(question, 'imageFile') | imagine_filter('col4_thumb') }}" alt="card-img-top" style="width: 100%; height: auto">
    {% endif %}
   <div class="card-body">
       <h5 class="card-title">
           <a href="{{ path('question.show', {id: question.id, slug: question.slug}) }}">#{{ question.id }}</a>
       </h5>
       <p class="card-text"></p>
       <div>
           {% for theme in question.themes %}
               <span class="badge badge-pill badge-secondary">{{ theme.name }}</span>
           {% endfor %}
       </div>
       <div>
           {{ question.label }}</div>
       <div
               {% if question.getlevel == 0 %}
               class="text-info"
               {% elseif question.getlevel == 1 %}
               class="text-warning"
               {% elseif question.getlevel == 2 %}
               class="text-danger"
               {% endif %}
       >
           {{ question.getleveldifficulty }}
       </div>
   </div>
</div>



