{% import _self as formMacros %}

{% macro printAnswerRow(answerForm) %}
        <div class="col-md-7">
            {{ form_widget(answerForm.label) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(answerForm.accuracy) }}
        </div>
{% endmacro %}

{{ form_start(form) }}

<div class="container-fluid">
    <h3>Question</h3>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.label) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.level) }}
        </div>
        <div class="col-md-1">
            {{ form_row(form.is_available) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.explanation) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.themes) }}
        </div>
    </div>

    <h3>Image</h3>

    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.imageFile) }}
        </div>
        <div class="col-md-4">
            {% if question.imageName is not null  %}<img src="{{ vich_uploader_asset(question, 'imageFile') | imagine_filter('thumbnail') }}" alt="card-img-top" style="width: 100%; height: auto">{% endif %}
        </div>
    </div>

    <h3>Réponses</h3>
    <div class="js-answers-wrapper"
         data-prototype="{{ formMacros.printAnswerRow(form.answers.vars.prototype)|e('html_attr') }}">

        {% for answer in form.answers %}
            <div class="row js-answer mb-2">
                {{ formMacros.printAnswerRow(answer) }}
            </div>
        {% endfor %}

        {# prevents weird label from showing up when there is none answer yet #}
        {{ form_widget(form.answers) }}

    </div>

    {{ form_end(form) }}

    <button class="btn btn-primary float-right">{{ button|default('Enregistrer') }}</button>

</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
{{ encore_entry_script_tags('admin_question') }}
