{%  block stylesheets %}
    {{ encore_entry_link_tags('quiz') }}
{% endblock %}

<div
        {% if quizQuestion.answer.accuracy == 0 %}
            class="card border-danger"
        {% elseif quizQuestion.answer.accuracy == 1 %}
            class="card border-warning"
        {% elseif quizQuestion.answer.accuracy == 2 %}
            class="card border-success"
        {% endif %}

>

    <div {% if quizQuestion.answer.accuracy == 0 %}
            class="card-header bg-danger"
        {% elseif quizQuestion.answer.accuracy == 1 %}
            class="card-header bg-warning"
        {% elseif quizQuestion.answer.accuracy == 2 %}
            class="card-header bg-success"
            {% endif %}>

    </div>

    <div class="card-body">

        <h5 class="card-title">
            {{ quizQuestion.question.label }}
        </h5>

        {#<div
                {% if quizQuestion.question.getlevel == 0 %}
                    class="text-info"
                {% elseif quizQuestion.question.getlevel == 1 %}
                    class="text-warning"
                {% elseif quizQuestion.question.getlevel == 2 %}
                    class="text-danger"
                {% endif %}
        >
            {{ quizQuestion.question.levelDifficulty }}
        </div>#}

        <p class="card-text">
            {{ quizQuestion.question.explanation }}
        </p>


        {% for answer in quizQuestion.question.answers %}
        <div class="row ml-3">
            <div class="icon-column">
                {% if answer == quizQuestion.answer %}
                    {% if answer.accuracy == 0 %}
                        <i class="fas fa-times"></i>
                    {% elseif answer.accuracy == 1 %}
                        <i class="fas fa-minus"></i>
                    {% elseif answer.accuracy == 2 %}
                        <i class="fas fa-check"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-auto">
                {{ answer.label }}
            </div>

        </div>
        {% endfor %}

        {#<p class="card-text">
            {% for theme in quizQuestion.question.themes %}
                <span class="badge badge-pill badge-secondary">{{ theme.name }}</span>
            {% endfor %}
        </p>#}
    </div>

    <div class="card-footer">
        {% for theme in quizQuestion.question.themes %}
                <span class="badge badge-pill badge-secondary">{{ theme.name }}</span>
            {% endfor %}
    </div>

</div>
