{% extends 'base.html.twig' %}

{% block body_header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h3>Résultats du quizz #{{ quizNumber }} </h3>
                </div>
                <div class="col-3 text-right">
                    <h1><i class="fas fa-trophy"></i> {{ score }}/10 </h1>
                </div>
            </div>
            {#
            {{ form_start(form) }}
            <div class="row align-items-end">
                <div class="col-auto">
                    {{ form_label(form.levelMin, null, {errors: []}) }}
                </div>
                <div class="col-2">
                    {{ form_widget(form.levelMin) }}
                </div>
                {% if not form.vars.valid %}
                    <div class="col-auto">
                        {{ form_errors(form.levelMin) }}
                    </div>
                {% endif %}
                <div class="col-auto">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}#}
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row flex">
            {% for quizQuestion in quizQuestions %}
                <div class="col-12 mt-4">
                    {% include 'quiz/_quizquestion.html.twig' %}
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}