{% extends 'base.html.twig' %}

{% block body_header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Mes résultats :</h3>
                </div>
                <div class="col text-right">
                    <h3><i class="fas fa-trophy gold-medal"></i> {{ trophies['gold'] }}
                    <i class="fas fa-trophy silver-medal"></i> {{ trophies['silver'] }}
                    <i class="fas fa-trophy bronze-medal"></i> {{ trophies['bronze'] }}</h3>
                </div>
            </div>



            {#
            {{ form_start(form) }}
            <div class="row align-items-end">
                <div class="col-auto">
                    {{ form_label(form.levelMin, null, {errors: []}) }}
                </div>
                <div class="col-2">
                    {{ form_widget(form.levelMin) }}
                </div>
                {% if not form.vars.valid %}
                    <div class="col-auto">
                        {{ form_errors(form.levelMin) }}
                    </div>
                {% endif %}
                <div class="col-auto">
                    <button class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}#}
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2>Mes quizz</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Thèmes associés <i class="fas fa-tag"></i></td>
                    <td>Score <i class="fas fa-trophy"></i></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes %}
                <tr>
                    <td>{{ quiz.number }}</td>
                    <td>{{ quiz.themes }}</td>
                    <td>
                    <h6
                                {% if quiz.score == 10 %}
                            class="gold-medal"
                        {% elseif quiz.score >= 8 %}
                            class="silver-medal"
                        {% elseif quiz.score >= 6 %}
                            class="bronze-medal"
                                {% endif %}>{{ quiz.score }}</h6></td>
                    <td>
                         <a href="{{ path ('quiz.result', {id: quiz.id}) }}" class="btn btn-primary">Voir le quizz</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation mt-4 d-flex justify-content-center">
            {{ knp_pagination_render(quizzes) }}
        </div>

    </div>

{% endblock %}